<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>道长</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>
	<body> 
		<div id="logo">
			<span id="tags">孩子，我是道长，我很想哭!</span>
			<h1 ><a href="/">道长</a></h1></div> 
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul> 
						<li><a href="#">首页</a></li>
						<li><a href="/quotes.html">JAVA专题</a></li>
						<li><a href="/projects.html">iOS & Mac</a></li>
						<li><a href="/about.html">ANDRIOD</a></li>						<li><a href="/contact.html">其它随笔</a></li>
						<li><a href="/contact.html">关于博主</a></li>
					</ul>
				</div>
				
				<div id="main">
				{{ content }}
				</div>

						
	</body>
</html>

