<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{ page.title }} - 道长</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>
	<body>
		<div id="logo">
		    <div class="highlight">
		  	<span id="tags"> 孩子，我是道长，我很想哭!</span>
			<h2><a href="/">道长</a></h2></div>
			</div>
			<div id="wrapper">
			<div id="content">
				<div style="font-size:22px">{{ page.title }}</div>
				<div class="cnt">
					{{ content }}
					<br />
					--EOF--					
				</div>
			</div>
			</div>
	</body>
</html>

